# Entorno de desarrollo
.vscode/
.kiro/

# Archivos de sistema y Python
__pycache__/

# Secretos y Configuración (CRÍTICO)
.env
browser.json
spotify_cookies.json
config/*
!config/.gitkeep

# Logs y temporales
*.log
.DS_Store
