# Entorno de desarrollo
.vscode/
.kiro/

# Archivos de sistema y Python
__pycache__/

# Secretos y Configuración (CRÍTICO)
.env
browser.json
spotify_cookies.json

# Logs y temporales
*.log
.DS_Storespotify_cookies.json
